<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xmlns:p="http://www.springframework.org/schema/p"
             xsi:schemaLocation="http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security.xsd
             http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans:import resource="applicationContext.xml"/>


    <security:http auto-config="false" use-expressions="true" access-denied-page="/accessDenied.xhtml"
                   entry-point-ref="authenticationEntryPoint">
        <security:intercept-url pattern="/pages/index.xhtml" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/pages/page.xhtml" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"/>
        <security:intercept-url pattern="/pages/entity.xhtml" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"/>

        <security:logout invalidate-session="true" logout-success-url="/login.xhtml" logout-url="/logout"/>

        <security:custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER"/>
    </security:http>

    <beans:bean id="authenticationFilter" class="com.web.authentication.filter.AutenticacaoFilter"
                p:authenticationManager-ref="authenticationManager"/>

    <beans:bean id="authenticationEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint"
                p:loginFormUrl="/login.xhtml"/>

    <security:authentication-manager alias="authenticationManager"/>
</beans:beans>